/* CSS declarations go here */

.map-container {
  height: 100%; 
  width: 100%; 
  position:absolute; 
  top: 0; 
  left: 0; 
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}

.overlaybox { 
  position: relative; 
  z-index: 1; /* The z-index should be higher than Google Maps */
  width: 600px;
  margin: 60px 60px 0 60px;
  padding: 10px;
  background: black;
  height: 600px;
  opacity: .80; /* Set the opacity for a slightly transparent Google Form */ 
  color: white;
}

.backgroundfill {
	background: black;
	opacity: .80;
	padding: 10px;
  margin: 60px 60px 0 60px;
  max-width: 600px;
}